/* video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
} */

.home-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.home-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
}

.home-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}





.distortion-effect {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5vh;
  background-color: #000;
  /* font-family: "Poppins", sans-serif; */
}
.distortion-effect h2 {
  position: relative;
  margin: 20px 0 0;
  font-size: 3em;
  color: #fff;
  z-index: 1;
  overflow: hidden;
}
.distortion-effect h2::before {
  content: "";
  position: absolute;
  left: 120%;
  width: 120%;
  height: 100%;
  background: linear-gradient(90deg, transparent 0%, #000 5%, #000 100%);
  animation: animate 5.5s linear forwards;
  animation-delay: 1s;
}
.distortion-effect h2 span {
  color: #ff022c;
}

@keyframes animate {
  100% {
    left: 200%;
  }
  0% {
    left: -10%;
  }
}




.hover-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  background-color: #000;
}
.card1 {
  width: 295px;
  height: 345px;
  padding: 2rem 1rem;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  /* transition: 0.5s ease-in-out; */
}
.card1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #c8caca8c, rgb(76, 79, 80));
  z-index: 2;
  transition: 0.9s all;
  opacity: 0;
}
.card1:hover:before {
  opacity: 1;
}
.card1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.card1 .info {
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}
.card1:hover .info {
  opacity: 1;
  transform: translateY(0px);
}
.card1 .info h1 {
  font-size: 23px;
}
.card1 .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 20px;
}
.card1 .info .btnn {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #fff;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.card1 .info .btnn:hover {
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}




.container2 {
  /* background-color: #171717; */
  /* background-attachment: scroll; */
  width: 100%;
  /* height: 100vh; */
  background-image: url(../Components/Images/img-9.jpg);
  /* background-repeat: no-repeat; */
  background-size: 100% 100%;
  background-attachment: fixed;
  /* letter-spacing: 1px; */
  /* word-spacing: 2px; */
  /* direction: ltr;
  text-indent: 10px; */
  text-align: center;
  display: block;
  height: 90vh;
  /* text-transform: uppercase; */
  
}
.content h3 {
  color: orange;
}
.content h2{
  color: #000;
}
.content{
  color:#000
}




.container3 {
  /* height: 120vh;
  background-color: #000; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?cs=srgb&dl=pexels-negative-space-160107.jpg&fm=jpg);
  /* background-repeat: no-repeat; */
  background-size: 100% 100%;
  background-attachment: fixed;
}
.item {
  font-size: 20px;
  color: whitesmoke;
  align-items: center;
  justify-content: center;
}
.item pre {
  color: red;
}

.item-1 {
  background-color: #171717;
  /* width: 500px;
  height: 300px; */
  /* border: 0.5px solid rgb(48, 47, 47); */
  /* box-shadow: 100px solid red; */
  border-radius: 10px;
}

.item-2 {
  background-color: #171717;
  border-radius: 10px;
}
.item-3 {
  background-color: #171717;
  border-radius: 10px;
}
.item-4 {
  background-color: #171717;
  border-radius: 10px;
  /* grid-area: 2/1/3/4; */
  grid-row: 2/3;
  grid-column: 1 / span 2;
}
.item-5 {
  background-color: #171717;
  border-radius: 10px;
}
.item-6 {
  background-color: #171717;
  border-radius: 10px;
}
.item-7 {
  background-color: #171717;
  border-radius: 10px;
}
.item-8 {
  background-color: #171717;
  border-radius: 10px;
}
.item-9 {
  background-color: #171717;
  border-radius: 10px;
}
.trial-container {
  background-color: transparent;
  width: 1200px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 0px;
  display: grid;
  /* grid-template-columns: 400px 400px 400px; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  justify-content: center;
  /* align-items: center; */
}




.container4{
  /* height: 50vh; */
  width: 100%;
  /* background-image: url(https://images.pexels.com/photos/257360/pexels-photo-257360.jpeg?cs=srgb&dl=pexels-pixabay-257360.jpg&fm=jpg); */
  background-size: 100% 100%;
  background-attachment: fixed;

}




.hover-effect {
  font-family: "Raleway", sans-serif;
  /* background-color: #000; */
  background-size: cover;
  /* background-repeat: no-repeat; */
  height: 80vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-image: url(https://images.pexels.com/photos/3183150/pexels-photo-3183150.jpeg?cs=srgb&dl=pexels-fauxels-3183150.jpg&fm=jpg);
}

.all {
  display: flex;
  perspective: 50px;
  transform: perspective(300px) rotateX(2deg);
  will-change: perspective;
  perspective-origin: center center;
  transition: all 1.5s ease-out;
  justify-content: center;
  transform-style: preserve-3d;
}

.all:hover {
  perspective: 1500px;
  transition: all 1.2s ease-in;
  transform: perspective(10000px) rotateX(0deg);
}
.all:hover .text {
  opacity: 100;
  /* color: #000; */
}
.all:hover > div {
  opacity: 1;
  transition-delay: 0s;
}
.all:hover .explainer {
  opacity: 0;
}

.left,
.center,
.right,
.lefter,
.righter {
  width: 200px;
  height: 150px;
  transform-style: preserve-3d;
  border-radius: 10x;
  border: 0px solid #fff;
  box-shadow: 50 0 10px 3px #10b7eb;
  opacity: 0;
  transition: all 0.5s ease;
  transition-delay: 1s;
  position: relative;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  background-blend-mode: color-burn;
}
.left:hover,
.center:hover,
.right:hover,
.lefter:hover,
.righter:hover {
  width: 200px;
  height: 150px;
  /* box-shadow: 0 0 30px 10px rgba(100, 100, 255, 0.6); */
  /* background-color: rgb(59, 59, 59); */
  border-radius: 10px;
}

.text {
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.3s ease;
  bottom: 0px;
  left: -5px;
  position: absolute;
  will-change: transform;
  color: #fff;
  /* text-shadow: 0 0 5px rgba(100, 100, 255, 0.6); */
}

.lefter {
  transform: translateX(-55px) translateZ(-50px) rotateY(-1deg);
  background-image: url(https://images.unsplash.com/photo-1611695434369-a8f5d76ceb7b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=375&q=80);
}

.left {
  transform: translateX(-30px) translateZ(-25px) rotateY(-1deg);
  background-image: url(https://images.unsplash.com/photo-1619002501093-963c193d5f5e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=375&q=80);
}

.center {
  opacity: 1;
  background-image: url(https://images.unsplash.com/photo-1610386715606-95eaf87365f3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
}

.right {
  transform: translateX(30px) translateZ(-25px) rotateY(1deg);
  background-image: url(https://images.unsplash.com/photo-1619002501093-963c193d5f5e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=375&q=80);
}

.righter {
  transform: translateX(55px) translateZ(-50px) rotateY(1deg);
  background-image: url(https://images.unsplash.com/photo-1611695434369-a8f5d76ceb7b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=375&q=80);
}

.explainer {
  font-weight: 300;
  font-size: 1.5rem;
  color: #fff;
  transition: all 0.6s ease;
  width: 100%;
  height: 100%;
  background-color: #303050;
  background-image: radial-gradient(circle at center top, gray, #171717);
  border-radius: 10px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}




.ref {
  background-color: #000;
  background-image: linear-gradient(to bottom, #000);
  border-radius: 3px;
  padding: 7px 10px;
  position: absolute;
  font-size: 16px;
  bottom: 10px;
  right: 10px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.ref::first-letter {
  font-size: 12px;
}




@media screen and (max-width: 960px) {
  .home-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
  .distortion-effect h2 {
    font-size: 34px;
    font-weight: 1000px;
  }
  .distortion-effect {
    align-items: center;
    min-height: 5vh;
    background-color: #000;
  }
  .hover-card {
    height: 60vh;
    background-color: #000;
  }
  .container3 {
    display: flex;
  }
  .hover-card{
    display: grid;
    height: 150vh;
  }
}

@media screen and (max-width: 768px) {
  .home-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .home-container > p {
    font-size: 30px;
  }
}
